# To learn more about .editorconfig see https://aka.ms/editorconfigdocs

###############################
# Core EditorConfig Options   #
###############################
root = true

# All files
[*]
indent_style = tab
indent_size = 4
end_of_line = crlf
insert_final_newline = true

###############################
# Json Formatting Rules       #
###############################
[*.json]
indent_style = tab
indent_size = 4
end_of_line = crlf
insert_final_newline = true

###############################
# Html Formatting Rules       #
###############################
[*.html]
indent_style = tab
indent_size = 4
end_of_line = crlf
insert_final_newline = true

###############################
# Markdown Formatting Rules   #
###############################
[*.md]
indent_style = tab
indent_size = 4
end_of_line = crlf
insert_final_newline = true

###############################
# Styles Formatting Rules     #
###############################
[*.scss]
indent_style = tab
indent_size = 4
end_of_line = crlf
insert_final_newline = true

###############################
# Typescript Formatting Rules #
###############################
[*.ts]
indent_style = tab
indent_size = 4
end_of_line = crlf
insert_final_newline = true

[*.tsx]
indent_style = tab
indent_size = 4
end_of_line = crlf
insert_final_newline = true
